<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
    <!-- parameters -->
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="com_port" default="/dev/ttyUSB0" />

    <!-- Import macros -->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />

    <link name="world" />
    
    <!-- Dummy tool0 link (for testing; in full setup, this comes from UR5e) -->
    <link name="tool0" />
    <joint name="dummy_tool0_joint" type="fixed">
      <parent link="world"/>
      <child link="tool0"/>
    </joint>
    
   
    <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="tool0" use_fake_hardware="${use_fake_hardware}" com_port="${com_port}" sim_gazebo="${sim_gazebo}" include_ros2_control="false" sim_ignition="false" sim_isaac="false">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
</robot>
